@charset "UTF-8";

/* ページ内リンクの位置調整 */
section {
margin-top: -60px;
padding-top: 60px;
}

h1 > a:hover {
	text-decoration: none;
}

#page-title > h2 {
	font-weight:700;
	color: #343a40;
}

#content > h2{
    margin: 0.4em 0 0.2em 0;
    font-weight: 700;
    color: midnightblue;
    background:transparent;
}

#content > h3{
	font-size:1.2em;
	font-weight:bold;
}

#content > h3::before{
	content: "■";
	color: #343a40;
}

li.lang-item {
     border-bottom: none;
     display: inline;
}

#polylang-2 > ul {
	padding-left:0px;
}
